header nav {
  list-style-type: none;
}

header {
  background-color: grey;
}

div {
  list-style-type: none;
  margin: 0;
}

li a {
  color: turquoise;
  margin: 0;
  padding: 30px;
  list-style-type: none;
}

.hero img {
  width: 100%;
}
.column {
  text-align: left;
}

.column-middle {
  float: center;
}

header h2 {
  text-align: left;
}

p {
  text-align: center;
}

footer {
  float: center;
}
