header nav{
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: grey;
    
}

div{
    list-style-type: none;
    margin: 0;
    overflow: hidden;

}
li a{
    color: turquoise;
    margin: 0;
    padding: 30px;
    float: right;
}

.column {
    float: left;
}

.column.middle{ 
    display: inline-flex; 
}

header h2 {
    text-align: left;
}

p {
    text-align: center;
}


footer {
    float: right; 
}