header ul li {
  list-style-type: none;
}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  display: inline;
}

header {
  background-color: grey;
}

li a {
  color: turquoise;
  margin: 0;
  padding: 30px;
}

.hero img {
  display: inline-block;
  position: relative;
  width: 100%;
}
.hero.h1 {
  position: absolute;
  text-align: right;
}
.column,
.footer {
  text-align: left;
}

.column-middle {
  float: center;
  border-left: solid turquoise;
  margin: 0 auto;
}

.column,
.column-middle {
  display: inline-block;
}

header h2 {
  text-align: left;
}

p {
  text-align: center;
}

footer {
  float: left;
  display: inline;
  border-right: solid turquoise;
}
